# Real-Time Driver Drowsiness Detection
# CoderAxo Internship — CAX-OL-2026-290
# Author: Muhammad Azeen Waqas

# Core
opencv-python==4.9.0.80
mediapipe==0.10.9
scipy==1.13.1
numpy==1.26.4

# ML
scikit-learn==1.5.0
pandas==2.2.2

# Visualization
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0

# Web / API
fastapi==0.111.0
uvicorn==0.30.1
jinja2==3.1.4
websockets==12.0

# Sound
pygame==2.5.2

# Utilities
pyyaml==6.0.1
imutils==0.5.4
Pillow==10.3.0
dlib==19.24.4
